layout {
    pane size="75%" borderless=true name="Development"
    pane split_direction="vertical" {
        pane name="Server"
        pane size="25%" name="Testing"
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
